@model List<Person>

@{
  ViewData["Title"] = "Employee Home";
}

<h1>All Employees [@Model.Count]</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Address</th>
      <th scope="col">Gender</th>
      <th scope="col">Salary</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @for (int i = 0; i < Model.Count; i++)
    {
      <tr>
        <td>@(i+1)</td>
        <td>
          @{
            string fn = Model[i].Firstname;
          }
          <a href="/employee/detail?id=@Model[i].id">@fn</a>
        </td>
        <td>@Model[i].Lastname</td>
        <td>@Model[i].Address</td>
        <td>@Model[i].Gender</td>
        <td>@Model[i].Salary</td>
        <td>
          <a class="btn btn-warning" href="/Employee/Edit?id=@Model[i].id">Edit</a>
          <a class="btn btn-danger" href="/Employee/Delete?id=@Model[i].id">Delete</a>
        </td>

      </tr>
    }
  </tbody>
</table>