@{
    ViewData["Title"] = "Index";
}
@model List<Person>

<h1>All Employees</h1>
<table class="table caption-top">
    <caption>List of Employees</caption>
    <thead>
        <tr>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Address</th>
            <th scope="col">Gender</th>
            <th scope="col">Salary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr scope="row">
                <td>@employee.Firstname</td>
                <td>@employee.Lastname</td>
                <td>@employee.Address</td>
                <td>@employee.Gender</td>
                <td>@employee.Salary</td>
            </tr>
        }

    </tbody>
</table>

